/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* common style or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke
    ;
}
.container{
    display: flex;
    background-color: blue;
    padding-top: 135px;
    padding-bottom: 86px;
    padding-left: 156px;
    padding-right: 140px;
}
h1{
    font-size: 50px;
    color: white;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;

}
.link-button{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 5px 20px;
}
.container-box{
  margin: 50px 100px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    
   
}
.player img{
    width: 80%;
}
.player{
    
   background-color: white;
   border: 10px  solid whitesmoke;
  
   padding: 15px;
   padding-left: 50px;
}
.container-2{
   
    text-align: center;
    border: 1px solid whitesmoke;
  margin-left: 300px;
  
}