/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* common style or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: white
    ;
}
.container {
    
    
    display: flex;
    background-color: blue;
    padding-top: 135px;
    padding-bottom: 86px;
    padding-left: 156px;
    padding-right: 140px;
}
h1{
    font-size: 50px;
    color: white;
}
h1:hover{
    color: red;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;

}
.link-button{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 5px 20px;
}
.container-box{
  margin: 50px 100px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    
   
}
.player img{
    width: 100%;
}
.player{
    
   text-align: center;
   border: 10px  solid whitesmoke;
  
  padding: 10px;
    
}
.container-3{
    display: flex;
   background-color: whitesmoke;
    
   padding: 20px;
    text-align: center;
}
.team{
    width: 50%;
}
.team img{
width: 90%;
}
.title{
    text-align: center;
}
.sponsors{
    display: flex;
   margin-left: 100px;
   margin-right: 100px;
   
   background-color: yellowgreen;
   
    

}
.sponsor{
    padding-right: 65px;
}
.title2{
    display: flex;
    text-align: center;
}

.container-2{
   
    text-align: center;
    
  margin-left: 300px;
  padding: 50px;
  
}
/* Media Queries */

/* Mobile Devices */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .container, .container-box, .container-2, .container-3{
        grid-template-columns: repeat(1, 1fr);
    }
   
}